.footer-join {
    width: 206px;
    height: 80px;
    margin-left: 70px;
    padding-top: 12px;
}
.footer-join__list {
    align-items: center;
}

.footer-join__link {
    background-color: #3F414B;
    transition-property: background-color;
}